dask*
*.csv
.ipynb_*
*.pkl
aitextge*
aitransfe*
my_fb_trained_mode*
my_fb_text.txt
shakespeare_trained_mode*
research*
data*
**/mnist_gnn_example/*.png
*.h5
gnn-examples/mnist_gnn_example/training_checkpoints*
.l*
experiment*
image*
log*
saved_mo*
training_*

